/* Etiquetas */
body {
    text-align: justify;
    background-image: url('agua.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin: 100px;
    margin-right: 200px;
    margin-left: 200px;
}
h1 {
    color: rgb(4, 4, 117);
    margin: 20px;
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 150px;
}
h2 {
    font-size: 40px;
}
h3 {
    color: red;
    font-size: 30px;
}
h4 {
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
}
h6 {
    margin-left: 50px;
    text-align: left;
}
footer {
   background-color: rgb(18, 18, 137);
    color: aliceblue;
    margin-top: 75px;
    text-align: center;
    margin-bottom: 0;
}
/* Clases */
.jkl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.mnñ {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.opq {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 15px;
    margin-right: 125px;
    padding: 25px;
}
.rst {
    color: black;
}
.uvw {
    color: rgb(5, 5, 134);
    margin: 40px;
    font-style: unset;
    font-size: 40px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65px;
}
.smoh {
    padding-bottom: 10px;
    color: #a0a0a0;
    font-size: 15px;
    text-decoration: underline;
    font-style: oblique;
    background-color: rgb(7, 7, 94);
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.upchick {
  text-align: justify;
  display: flex;
  padding: 100px;
  flex-direction: row;
  justify-content: space-evenly;
  color: #cecece;
}
.quizas {
    color: aliceblue;
}
.conc {
    border-style: solid;
    border-width: 3px;
    background-color: white;
    margin: 20px;
    margin-bottom: 30px;
    padding: 25px;
    max-width: 625px;
}
.sy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.zi {
  margin-top: 15px;
  margin-left: 58px;
  margin-right: 55px;
  width: 350px;
  height: 275px;
  border-style: solid;
  border-width: 3px;
}
.xi {
  padding-left: 25px;
}
.hola {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.maybe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
/* Id's */
#foda {
    font-size: 85px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#dash {
    border-radius: 2px;
    border-width: 5px;
    border-style: dotted;
}
#xyz {
    color: red;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
}
#creeper {
    height: 125px;
    width: auto;
}
#clc {
    color: rgb(0, 0, 157);
}
#ellogo {
    height: 90px;
}
/* Navegación */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: cadetblue;
}
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list li {
    list-style: none;
}
nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
nav .list a:hover {
    border-bottom: 4px solid #2416bb7f;
}
#toggle {
    position: absolute;
    top: -100px;
}
nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 3px;
    transition: all .3 ease-in-out;
}
@media (max-width:768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .list a{
        font-size: 20px;
    }
    nav :checked ~ .list {
        bottom: 0;
    }
    nav .icon-bars {
        display: block;
    }

}
