/* Etiquetas */
body {
    background-image: url('agua2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;   
}
p {
    font-size: 20px;
    text-align: justify;
}
img {
    width: 300px;
}
h1 {
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(1, 1, 112);
    margin-top: 150px;
    margin-bottom: 12px;
    text-align: center;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
    color: #090071;
    text-align: center;
}
h5 {
    color: blue;
    background-color: rgb(140, 201, 255);
}
h6 {
    margin-left: 50px;
    text-align: left;
}
footer {
   background-color: rgb(18, 18, 137);
    color: aliceblue;
    margin-top: 75px;
    text-align: center;
    margin-bottom: 0;
}
/* Clases */
.upchick {
  text-align: justify;
  display: flex;
  padding: 100px;
  flex-direction: row;
  justify-content: space-evenly;
  color: #cecece;
}
.quizas {
    color: aliceblue;
}
.smoh {
    padding-bottom: 5px;
    color: #a0a0a0;
    font-size: 20px;
    text-decoration: underline;
    font-style: oblique;
    background-color: rgb(7, 7, 94);
}
.aba {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 50px;
}
.card-img-top {
    padding: 50px;
}
.aca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-title {
    color: rgb(0, 0, 112);
    padding-bottom: 8px;
}
/* Id's */
#prime {
    font-size: 30px;
    text-align: justify;
}
#creeper {
    height: 125px;
    width: auto;
}
#parte1 {
    margin: 50px;
}
#ellogo {
    height: 90px;
    width: auto;
}
/* Navegación */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: cadetblue;
}
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list li {
    list-style: none;
}
nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
nav .list a:hover {
    border-bottom: 4px solid #2416bb7f;
}
#toggle {
    position: absolute;
    top: -100px;
}
nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 3px;
    transition: all .3 ease-in-out;
}
@media (max-width:768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .list a{
        font-size: 20px;
    }
    nav :checked ~ .list {
        bottom: 0;
    }
    nav .icon-bars {
        display: block;
    }

}
